
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page_5{
    font-size: 62.5%;
}
.body_5 {
    padding: 2rem;
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b1331;
    background-image: linear-gradient(315deg,#2b1331 5%,#858484 73%);
}
.OneBtn_5 {
    align-items: center;
}
.feedback-container_5 {
    border-radius: 2rem;
    background-color: #fff;
    padding: 2rem 4rem;
    box-shadow: rgba (50, 50, 93 0.25) 0px 2px 5px -1px, rgba (0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.p_5 {
    color: #191919;
    font-size: 1.4rem;
}
.pc_5 {
    color: #191919;
    font-size: 1.4rem;
    text-align: center;
}
.StarBox_5 {
    padding: 1rem 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    transform: translate(13%, 0);
}
.btnE_5 {
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
    font-size: 2rem;
    cursor: pointer;
}
.btnE_5:hover {
    transform: scale(2.5);
}
.question_5 {
    margin: 0.5rem 0;
}
#textarea_5 {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    border: 0.1rem solid #777;
    border-radius: 0.5rem;
    color: #000;
    margin-bottom: 0.6rem;
    resize: none;
}
#textarea_5:active {
    box-shadow: rgba (50, 50, 50, 93, 0.25) 0px 2px 5px -1px, rgba (0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.RadioBtn_5 {
    width: 80%;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}
.OneBtn_5 {
    display: flex;
    vertical-align: middle;
}
.RadioBtn_5 input[type="radio"] {
    position: relative;
    vertical-align: middle;
    font-size: 2rem;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid #777;
    border-radius: 50%;
    display: flex;
}
.RadioBtn_5 input[type="radio"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}
.RadioBtn_5 input[type="radio"]:checked::before {
    background-color: #006ae8;
    vertical-align: middle;
}
.RadioBtn_5 label {
    color: #000;
    font-size: 1.7rem;
    margin-left: 1rem;
}
.info-field_5 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0.5rem 0;
}
.name_5 {
    padding: 1.3rem 0 0 0;
    display: flex;
    flex-direction: column;
}
.name_5 label {
    color: #000;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.name_5 span {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    transition: 0.2s ease-in-out;
}
.name_5 input {
    width: 100%;
    border-radius: 0.6rem;
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #777;
    color: #000;
}
.name_5 input:focus + span {
    top: 0;
    background-color: #fff;
    padding: 0.2rem 0.7rem;
}
.name_5 input:not(:placeholder-shown) + span {
    top: 0;
    background-color: #fff;
    padding: 0.2rem 0.7rem;
}
.email_5 {
    padding: 1rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;
}
.email_5 label {
    color: #000;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom:0.5rem;
}
.email_5 span {
    position: absolute;
    left: 22%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    white-space: nowrap;
    line-height: 1.2;
    transition: 0.2s ease-in-out;
}
.email_5 input {
    width:100%;
    border-radius: 0.6rem;
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #777;
    color: #000;
}
.email_5 input:focus + span {
    top: 0;
    background-color: #fff;
    padding: 0.2rem 0.7rem;
}
.email_5 input:not(:placeholder-shown) + span {
    top: 0;
    background-color: #fff;
    padding: 0.2rem 0.7rem;
}
.accept_5 {
    display: flex;
    align-items: center;
}
.accept_5 label {
    font-size: 1.2rem;
    color: #191919;
    margin-left: 0.7rem;
}
.accept_5 a {
    color: #1c84ff;
}
.accept_5 input[type="radio"] {
    position: relative;
    font-size: 2rem;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accept_5 input[type="radio"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}
.accept_5 input[type="radio"]:checked::before {
    background-color: #006ae8;
}
.SendBtn_5 {
    margin-top: 2rem;
    text-align: center;
}
.btn_5 {
    width: 100%;
    background-color: #0276ff;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    font-size: 1.4rem;
    padding: 1rem 4rem;
    cursor: pointer;
}
.btn_5:active {
    background-color: #006ae8;
    transform: scale(0.98);
}
.btn_5:hover {
    background-color: #1c84ff;
}
.Nheader_5 {
    position:fixed;
    top: 0;
    left: 0;
}
.header_55 {
    top: 0;
    left: 0;
}
.Nnav_5 {
    position:fixed;
    padding: 10px 15px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_55 {
    padding: 10px 15px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Bname_5 {
    font-weight: bolder;
    font-size: 25px;
    font-family: system-ui;
}
.search {
    --background: #ffffff;
    --text-color: #414856;
    --primary-color: #4F29F0;
    --border-radius: 10px;
    --width: 190px;    
    --height: 55px;      
    background: var(--background);
    width: auto;
    height: var(--height);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(#414856, .05);
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="text"] {
      position: relative;
      width: var(--height);
      height: var(--height);
      font: 400 16px 'Varela Round', sans-serif;
      color: var(--text-color);
      border: 0;
      box-sizing: border-box;
      outline: none;
      padding: 0 0 0 40px;
      transition: width .6s ease;
      z-index: 10;
      opacity: 0;
      cursor: pointer;
      &:focus {
        z-index: 0;
        opacity: 1;
        width: var(--width);
        ~ .symbol {
          &::before {
            width: 0%;
          }
          &:after {
            clip-path: inset(0% 0% 0% 100%);
            transition: clip-path .04s linear .105s;
          }
          .cloud {
            top: -30px;
            left: -30px;
            transform: translate(0, 0);
            transition: all .6s ease;
          }
          .lens {
            top: 20px;
            left: 15px;
            transform: translate(0, 0);
            fill: var(--primary-color);
            transition: top .5s ease .1s, left .5s ease .1s, fill .3s ease;
          }
        }
      }
    }
    .symbol {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        content:"";
        position: absolute;
        right: 0;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
        z-index: -1;
        transition: width .6s ease;
      }
      &:after {
        content:"";
        position: absolute;
        top: 21px;
        left: 21px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--primary-color);
        z-index: 1;
        clip-path: inset(0% 0% 0% 0%);
        transition: clip-path .04s linear .225s;
      }
      .cloud,
      .lens {
        position: absolute;
        fill: #fff;
        stroke: none;
        top: 50%;
        left: 50%;
      }
      .cloud {
        width: 35px;
        height: 32px;
        transform: translate(-50%, -60%);
        transition: all .6s ease;
      }
      .lens {
        fill: #fff;
        width: 16px;
        height: 16px;
        z-index: 2;
        top: 24px;
        left: 24px;
        transition: top .3s ease, left .3s ease, fill .2s ease .2s;
      }
    }
}
.Nmenu_5 {
    display: flex;
    font-size: 20px;
    list-style: none;
    gap: 35px;
}
.Nnav_5 a {
    color: #000;
    text-decoration: none;
}
.Nnav_5 a:hover {
    color: #0276ff;
}
.nav_55 a {
    color: black;
    text-decoration: none;
}
.nav_55 a:hover {
    color: rgb(82,143,87);
}
.ima_55 {
    width: 300px;
    height: 400px;
    padding: 100px 50px;
    box-sizing: initial;
}
.top_55 {
    display: flex;
    align-items: center;
    box-sizing: initial;
}
.bookname_55 {
    font-size: 80px;
    position: absolute;
    padding: 70px 0;
    transform: translate(500px,-200px);
    text-shadow: 4px 4px 8px;
    box-sizing: initial;
}
.pricebox_55 {
    background: #353350;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    display: block;
    unicode-bidi: isolate;
    position: absolute;
    transform: translate(1100px,-50px);
    box-sizing: initial;
}
.p_55 {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-size: 2em;
    box-sizing: initial;
}
.pricebox_55 .price_55 {
    font-size: 2em;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
}
.par1_55 {
    font-size: 1.5em;
    transform: translate(0, 100%);
}
.body_55 {
    background-color: #090947;
    background-image: linear-gradient(315deg, #090947 0%, #5a585a 74%);
    width: auto;
}
.bottom1_55 {
    width: 90%;
    font-size: 1.5em;
    margin-left: 50px;
}
.highlight_55 {
    color: blue;
}
.bn_55 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em 2rem;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    width: 20px;
    transform: translate(50px,0);
}
.ifram_5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ifram_5 iframe {
    width: 100%;
}
.table_55 {
    width: 60%;
    border-collapse: collapse;
    margin: auto;
}
.table_55 th,td {
    border: 3px solid black;
    padding: 15px;
    text-align: center;
}
.b_5 {
    color: rgb(5, 5, 54);
}
.foo_5 {
    display: flex;
}
.fo_5 {
    width: 1500px;
    height: 120px;
    background-color: #353350;
}
.bon_5 {
    position: absolute;
    right: 200px;
    bottom: -140px;
    width: 170px;
    height: 50px;
}
.fo_5 p {
    font-size: 1.5em;
    text-align: center;
    padding-top: 20px;
}
.fo_5 a {
    color: #000;
}